data/
*.pt
runs/
.venv/
outputs/
__pycache__/
*.zip
/models/
mess
.env
conf.yaml
config.yaml
*.csv
*.mp4

.conda_envs/
.pyuser/
.ultralytics/
.venvs/
config.yaml.backup
pbs_scripts_legacy/
predictions/
*.pth
*.pbs

